<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/create.css">
    <title>Document</title>
</head>
<body>
    <div id="page">
        
        <nav>
          <a href="/">Home</a>
          &nbsp; &nbsp;&nbsp;
          <a href="/create">Create-Post</a>
          &nbsp; &nbsp;&nbsp;
          <a href="read">Read-Posts</a>
        </nav>
       
        <br>
        <div id="content">
            <form action="/create" method="post">
                <h1>Create The Post</h1>
                <br>
                <input type="url" name="profileimage" placeholder=" profileimage">
                <br><br>
                <input type="text" name="Name" placeholder=" Name">
                <br><br>
                <input type="text" name="Subtitle" placeholder=" Subtitle">
                <br><br>
                <input type="text" name="Posttext" placeholder=" Posttext">
                <br><br>
                <input type="url" name="Postimage" placeholder=" Postimage">
                <br><br>
                <button>Submit</button>
         
            </form>
        </div>
       
      </div>
    
   
</body>
</html>