<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <div id="page">
    <nav>
      
      <a href="/">Home</a>
      &nbsp; &nbsp;&nbsp;
      <a href="/create">Create-Post</a>
      &nbsp; &nbsp;&nbsp;
      <a href="/read">Read-Posts</a>
    </nav>
    <h1>Welcome To Home</h1>
  </div>

</body>
</html>
